.container {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  margin: auto;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  font-size: 2.5em;
}

.description {
  font-size: 1.2em;
  color: #DDD;
}