.container {
  position: relative;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  background-color: inherit;
  
  backdrop-filter: brightness(1.6);
  border-radius: 6px;
  padding: 1.5em 1em;
}


.title {
  font-size: 1.4em;
}
.hoverAnim::after {
  content:'';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0.1em;
  background-color: white; 
}

.githubLink:hover, .githubLink:focus {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.githubLink::after {
  content:'';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0.1em;
  background-color: white; 
}

.hoverAnim:hover::after, .title:active::after {
  width: 100%;
  transition: 0.2s ease;
}

.projectImageContainer {
  align-self: center;
  position: relative;
  width: 95%;
  height: auto;
  max-height: 100%;
}

.projectImage {
  position: relative;
}

.descriptionContainerLeft {
  flex-shrink: 1;
}

.descriptionContainerRight {
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .flexMediaQuery {
    flex-direction: column;
  }
  .descriptionContainerRight {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}