.container {
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  
  width: 80%;
  margin: auto;
}

.frontPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 7em;
}

.frontTitle {
  font-size: 4.5em;
  color: #FFF;
}

.frontDescription {
  font-size: 1.2em;
  color: #EEE;
}

.highlight {
  color: #81b541;
}

.downArrowContainer {
  margin-top: auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}